

.navbar-default {
	background-color: #506378;
	border: 0px ;
	padding: 10px;
	margin: 0;
	border-radius: 0px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	
	position:relative;
	
	width: 100%;
	
	background-color: #506378;
}

.navbar-default .navbar-nav>li>a {
	color:#F1F1F1;
}

.navbar-default .navbar-nav>li>a:hover {
		text-decoration: none;

		padding:10, 25;
		color: #cccccc;
		-webkit-transition: all 500ms ease;
		-moz-transition: all 500ms ease;
		-ms-transition: all 500ms ease;
		-o-transition: all 500ms ease;
		transition: all 500ms ease;
}


	
.nav-text {
	color:white;
	font-size: 1.0em;
}

.navbar-default .navbar-nav>.open>a:hover {
    color: #F1F1F1;
    background-color: #F1F1F1;
}

.about {
	background-color: grey;

}

#carousel-example-generic {
	position:relative;
}

.carousel-inner {
	position:relative;
   	height: 30em;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    height: 15em;
    margin-top: 3.6em;
    width:1.5em;
   
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.5)),to(rgba(0,0,0,.0001)));
    background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
    background-repeat: repeat-x;
    height: 15em;
    margin-top: 3.6em;
    width:1.5em;
}

 .modal-content{
	display: flex;
	flex-direction: column;
	align-items: center;


}

#sign-in-btn {
    text-align: center;
    margin: auto;
    position: relative;
    background-color: #F1F1F1;
    color: black;
}

.modal.fade.bs-example-modal-sm, .modal-content{
	text-align: center;
}

.fa {
	color: #F1F1F1;
}

.fa:hover {
	color: #cecccd;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.programmers {
	 border: 5px solid;
    border-color: #F1F1F1;
    border-radius: 10px;
    margin-top: 2em;


}

.thumbnail {
	 background-color: #2d3d4f;
    border: 1px solid transparent;
    border-radius: 10px;

	 
}

.thumbnail .caption {
	color:#F1F1F1;
}

.panel-primary>.panel-heading {
    color: #fff;
    border-color: #337ab7;
    background-color: #6c8096;
    padding: 10px 15px;
}

.basic-info {
	background-color: #F1F1F1;
    height: 5em;
    color: #4f4e4e;
    padding-top: 1.8em;
    padding-left: 1.2em;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #485869;
    background-color: #506378;
}

.dropdown-menu>li>a {
	background-color: #506378;
    color: #F1F1F1;
    margin-top: 0px;
}

.dropdown-menu>li>a:hover {
	background-color: #506378;
    color: #cccccc;
    -webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.dropdown-menu {
	background-color: #506378;
	color:#F1F1F1;
}

.gray-box {
	background-color: #F1F1F1;
	color: #4f4e4e;
	margin:20px 0px 20px 0px;
}

body {
	background-image:url(/img/linen.png);
	font
}

@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu>li>a {
		    color: #F1F1F1;
		}
}

.modal-content {
    position: relative;
    background-color: #6C8096;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #506378;
    border-radius: 6px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    color:#F1F1F1;
}

.sign-up-link {
	color:#F1F1F1;
}
.icon-txt{

	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.caption{

	display: flex;
	flex-direction: column;
	align-items: center;

}

.fa{
	margin:3px;
}

#sign-up {
	color:#F1F1F1;
}

#sign-in-btn {
    text-align: center;
    margin: auto;
    position: relative;
    background-color: #F1F1F1;
}



.fill{
    height:100%;
    width:100%;
}




/* keep full widget on smaller screens */
@media (max-width: 767px) { 
	body {
		padding-left: 0;
		padding-right: 0;
	}
}

.comment-dash{
	padding:25px;
	border:1px solid;
	border-color: #C8C8C8;
	border-radius: 10px;
}

.comment-break {
	background-color: #C8C8C8;
	color: #566473;
	padding-bottom: 5px;
	border-radius: 5px;
}

.btn-default  {
            background-color: #F67366;
            color:white;
            margin-top: 15px;
        }

        .btn-default:hover  {
            background-color: #F67366;
            color:white;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
        }

.btn-default a {
            background-color: #F67366;
            color:white;
            margin-top: 15px;
        }

        .btn-default:hover a {
            background-color: #F67366;
            color:white;
            -webkit-transition: all 500ms ease;
            -moz-transition: all 500ms ease;
            -ms-transition: all 500ms ease;
            -o-transition: all 500ms ease;
            transition: all 500ms ease;
        }

.fa-comments {
	color: white;
}

.blue-container {
	background-color: #2d3d4f;
	width: 100%;
	padding: 50px;
	color: white;
}

.panel-body-blue {
	background-color: #2d3d4f;
	color: white;
	border: 0.5px solid;
	border-color: white;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.panel-default {
	padding-left:0px; 
	padding-right:0px;
	margin-left: 0px;
}

.fa-long-arrow-right {
	margin-top: 60px;
}

.line-break {
	height: 1px;
	width: 100px;
	background-color: white;
	margin-left: 85px;
	margin-top: 15px;
	margin: 0 auto;

}

.container.mission-statement{
	padding-top: 8px;
}








